	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only"><%= __('Toggle navigation') %></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Front Ghost Inspector</a>
	</div>
	  <!--<ul class="nav navbar-collapse collapse navbar-nav navbar-right">-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __('Contacts') %> <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#"><%= __('All contacts') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('Custom List') %></a></li>-->
            <!--<li><a href="#"><%= __('New List') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('Import') %></a></li>-->
            <!--<li><a href="#"><%= __('New contact') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('Define Persona') %></a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown active">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __('Templates') %> <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#"><%= __('List') %></a></li>-->
            <!--<li><a href="#"><%= __('New Template') %></a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= __('Campaings') %> <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#"><%= __('Sended') %></a></li>-->
            <!--<li><a href="#"><%= __('Waiting to be send') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('New Campaing') %></a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="btn btn-primary btn-xs" style="font-size: 0.8em">5 <span class="glyphicon glyphicon-envelope"></span></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#"><%= __('My credit') %></a></li>-->
            <!--<li><a href="#"><%= __('My profile') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('Process queue') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#"><%= __('Admins comunications') %></a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Small statistic wrap</a></li>-->

          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
